@font-face {
  font-family: 'cyzer-icons';
  src:  url('fonts/cyzer-icons.eot?vfz5xf');
  src:  url('fonts/cyzer-icons.eot?vfz5xf#iefix') format('embedded-opentype'),
    url('fonts/cyzer-icons.ttf?vfz5xf') format('truetype'),
    url('fonts/cyzer-icons.woff?vfz5xf') format('woff'),
    url('fonts/cyzer-icons.svg?vfz5xf#cyzer-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

.cyz-ico {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'cyzer-icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  
  /* Enable Ligatures ================ */
  letter-spacing: 0;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  font-feature-settings: "liga";
  -webkit-font-variant-ligatures: discretionary-ligatures;
  font-variant-ligatures: discretionary-ligatures;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.cyz-ico-search:before {
  content: "\e8b6";
}
.cyz-ico-copy:before {
  content: "\e14d";
}
.cyz-ico-page:before {
  content: "\e14e";
}
.cyz-ico-cart:before {
  content: "\e8cc";
}
.cyz-ico-product:before {
  content: "\e54c";
}
.cyz-ico-post:before {
  content: "\e060";
}
.cyz-ico-check-circle:before {
  content: "\e904";
}
.cyz-ico-circle:before {
  content: "\e905";
}
.cyz-ico-rocket:before {
  content: "\e903";
}
.cyz-ico-hammer:before {
  content: "\e900";
}
.cyz-ico-add:before {
  content: "\e901";
}
.cyz-ico-account-box:before {
  content: "\e851";
}
.cyz-ico-add-box:before {
  content: "\e146";
}
.cyz-ico-arrow-back:before {
  content: "\e5c4";
}
.cyz-ico-arrow-downward:before {
  content: "\e5db";
}
.cyz-ico-arrow-forward:before {
  content: "\e5c8";
}
.cyz-ico-arrow-upward:before {
  content: "\e5d8";
}
.cyz-ico-audio-video:before {
  content: "\e04a";
}
.cyz-ico-box-solid:before {
  content: "\e834";
}
.cyz-ico-check-box-solid:before {
  content: "\e835";
}
.cyz-ico-check-circle-solid:before {
  content: "\e86c";
}
.cyz-ico-close:before {
  content: "\e5cd";
}
.cyz-ico-close-solid:before {
  content: "\e5c9";
}
.cyz-ico-controller:before {
  content: "\e322";
}
.cyz-ico-dashboard:before {
  content: "\e871";
}
.cyz-ico-database:before {
  content: "\e902";
}
.cyz-ico-documents:before {
  content: "\e415";
}
.cyz-ico-download:before {
  content: "\e2c0";
}
.cyz-ico-error:before {
  content: "\e001";
}
.cyz-ico-error-solid:before {
  content: "\e000";
}
.cyz-ico-file:before {
  content: "\e24d";
}
.cyz-ico-file-upload:before {
  content: "\e2c6";
}
.cyz-ico-help:before {
  content: "\e887";
}
.cyz-ico-help-outline:before {
  content: "\e8fd";
}
.cyz-ico-images:before {
  content: "\e8a7";
}
.cyz-ico-list:before {
  content: "\e8ef";
}
.cyz-ico-menu:before {
  content: "\e3c7";
}
.cyz-ico-more-vert:before {
  content: "\e5d4";
}
.cyz-ico-new-window:before {
  content: "\e89e";
}
.cyz-ico-notifications:before {
  content: "\e7f4";
}
.cyz-ico-notifications-active:before {
  content: "\e7f7";
}
.cyz-ico-person:before {
  content: "\e7fd";
}
.cyz-ico-remove-box-solid:before {
  content: "\e909";
}
.cyz-ico-report:before {
  content: "\e160";
}
.cyz-ico-security:before {
  content: "\e32a";
}
.cyz-ico-settings:before {
  content: "\e8b8";
}
.cyz-ico-tools:before {
  content: "\e869";
}
.cyz-ico-tune:before {
  content: "\e429";
}
.cyz-ico-upload:before {
  content: "\e2c3";
}
.cyz-ico-verified-user:before {
  content: "\e8e8";
}
.cyz-ico-visibility:before {
  content: "\e8f4";
}
.cyz-ico-visibility-off:before {
  content: "\e8f5";
}
.cyz-ico-warning:before {
  content: "\e002";
}
.cyz-ico-web:before {
  content: "\e051";
}
